.photo-grid__item {
    margin: 0;
    max-width: 284px;
    width: 100%;
    max-height: 213px;
    height: 100%;
}

@media (max-width: 1279.98px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}

@media (max-width: 1023.98px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
}

@media (max-width: 767.98px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
}