.cover__text {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    position: absolute;
    align-items: center;
    left: 28.5%;
    top: 33%;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .cover__text {
        left: 23%;
        top: 30%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .cover__text {
        left: 14%;
        top: 23%;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .cover__text {
        left: 9%;
        top: 28%;
    }
}