.lead__subtitle {
    margin: 0 auto 64px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

@media (max-width: 1279.98px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 767.98px) {
    .lead__subtitle {
        max-width: 288px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}