.footer {
    margin: 0 auto;
    padding: 92px 0 24px;
    max-width: 1184px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1279.98px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 1023.98px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media (max-width: 767.98px) {
    .footer {
        max-width: 288px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 71px 0 24px;
        margin: 0 auto;
    }
}